// This is the css for the iPone 6 & 6S

#pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 30px;
}

#arrowdownImage{
  cursor: pointer;
  height: 100px;
  padding-left: 430px;
}

#arrowupImage {
  cursor: pointer;
  height: 140px;
  padding-left: 430px;
}
