<head>
  <meta name="description" content="莉薇国际美容连锁25年老字号是一家集美容、美发服务、问题皮肤治疗、名牌产品及设备代理、专业技术培训以及美容院、美发经营管理教育为一体的综合性机构。我们拥有高科技的仪器和资深的美容师，用专业的的技术和优质的服务满足客户需求">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>會員优惠特价, 唇和紋眉, 热玛吉＋超声刀, 夏季打折促銷</title>

  <!-- semantic -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <!-- local stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/script.js"></script>

  <!-- animate.css -->
  <link rel="stylesheet" href="css/animate/animate.min.css">

  <!-- fullpage.js -->
  <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
  <script type="text/javascript" src="js/jquery.fullPage.js"></script>
</head>
