<head>
  <meta charset="UTF-8">
  <title>WeChat</title>


  <!-- local stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>

  <!-- fullpage.js -->
  <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
  <script type="text/javascript" src="js/jquery.fullPage.js"></script>
</head>
