<head>
  <meta charset="UTF-8">
  <title>WeChat</title>

  <!-- semantic -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <!-- local stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/script.js"></script>

  <!-- animate.css -->
  <link rel="stylesheet" href="css/animate/animate.min.css">

  <!-- fullpage.js -->
  <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
  <script type="text/javascript" src="js/jquery.fullPage.js"></script>
</head>
