/* body */
body {
  background-image: url("spa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

audio {
  display: none;
}

#pageFirstarrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageLastarrowdown {
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 30px;
}

#arrowdownImage{
  cursor: pointer;
  height: 50px;
  padding-left: 560px;
}

#arrowupImage {
  cursor: pointer;
  height: 70px;
  padding-left: 560px;
}


/* Responsive */
/* iPhone 4 & 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 30px;
  }

  #arrowdownImage{
    cursor: pointer;
    height: 60px;
    padding-left: 460px;
  }

  #arrowupImage {
    cursor: pointer;
    height: 80px;
    padding-left: 460px;
  }
}

/* iPhone 5 & 5S */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 30px;
  }

  #arrowdownImage{
    cursor: pointer;
    height: 60px;
    padding-left: 460px;
  }

  #arrowupImage {
    cursor: pointer;
    height: 80px;
    padding-left: 460px;
  }
}

/* iPhone 6 & 6S */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

  #pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 30px;
  }

  #arrowdownImage{
    cursor: pointer;
    height: 60px;
    padding-left: 460px;
  }

  #arrowupImage {
    cursor: pointer;
    height: 80px;
    padding-left: 460px;
  }

}

/* iPhone 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

  #pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 30px;
  }

  #arrowdownImage{
    cursor: pointer;
    height: 60px;
    padding-left: 460px;
  }

  #arrowupImage {
    cursor: pointer;
    height: 80px;
    padding-left: 460px;
  }

}

/* iPad */
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  #pageOnearrowdown, #pageTwoarrowdown, #pageThreearrowdown, #pageFourarrowdown, #pageFivearrowdown {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 30px;
  }

  #arrowdownImage{
    cursor: pointer;
    height: 65px;
    padding-left: 450px;
  }

  #arrowupImage {
    cursor: pointer;
    height: 85px;
    padding-left: 450px;
  }

}
