<div id="sectionFirst">


  <!-- Fade-In Image -->
  <div id="fadeInDown">
    <img id="companyLogo" src="images/firstpage/liweilogo.png" alt="logo">
  </div>

  <!-- Message Content -->
  <div id="lightSpeedIn">
    <h2 id="contentText">夏天暑假促銷！</h2>
  </div>

  <!-- Fade-In Image -->
  <div id="fadeInUp">
  <img id="brandImage" src="images/firstpage/gmcollinlogo.gif" alt="logo">
  </div>


  <div id="pageFirstarrowdown">
    <a href="/#secondPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
