<div id="sectionFour">

  <div id="pageTitle" >
    <h2 id="fadeInDownFourthPage">热玛吉＋超声刀</h2>
  </div>

  <div id="FourthPageText">
    <div id="zoomInFourthPage">
      <p>
        新生逆龄疗法
        <br>
        深效除纹 ，膠原重生
        <br>
        长效紧致 ， 重塑V脸
        <br>
        一站式解決肌膚衰老问题！
      </p>
      <p id="boldfont">
        免费体验半边脸
      </p>
    </div>
  </div>

  <div class="ui grid centered">

    <!-- First set of Images -->
    <div class="three column row">
      <!-- FadeIn Left -->
      <div id="fadeInLeftFourthPageRowOne" class="six wide column ">
        <img id="leftImage" src="images/ad_photos/skintightening_before.png" alt="image 1">
        <p id="beforeAndAfter">之前</p>

      </div>

      <div class="two wide column"></div>

      <!-- FadeIn Right -->
      <div id="fadeInRightFourthPageRowOne" class="six wide column">
        <img id="rightImage" src="images/ad_photos/skintightening_after.png" alt="image 2">
        <p id="beforeAndAfter">之后</p>

      </div>
    </div>

  </div>

  <div id="pageFourarrowdown">
    <a href="/#fivePage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
