<div id="sectionLast">

  <div id="lastSectionContent" class="column">

      <div class="ui divided items">
        <div class="item">
          <div class="middle aligned content">
            <img id="companyLogo" src="images/firstpage/liweilogo.png" alt="logo">
          </div>
        </div>

        <div class="item">
          <h5 id="lastSectionAddress" class="middle aligned content">
            90 Bowery Street Suite 405
            <br>
            New York, NY 10013
            <br>
            <a id="linkColor" href="https://www.google.com/maps/place/LIWEI+BEAUTY/@40.717511,-73.9978547,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259881d003827:0x2f1786e63b9151de!8m2!3d40.717511!4d-73.995666" target="_blank">獲取路線</a>
          </h5>
        </div>

        <div class="item">
          <h5 id="lastSectionContact" class="middle aligned content">
            <i class="icon phone square large"></i>
            <a id="linkColor" href="tel:9176393900">
              917-639-3900
            </a>
            <br>
            <br>
            <i class="icon world large"></i>
            <a id="linkColor" href="http://www.liweibeauty.com">
              www.liweibeauty.com
            </a>
          </h5>
        </div>

      </div>
    </div>

  <div id="pageLastarrowdown">
    <a href="/#firstPage"><img id="arrowupImage" src="images/arrowup3d.png" alt="arrow down"></a>
  </div>
</div>
