<div id="sectionTwo">

  <div id="secondPageTitle" >
    <h2 id="fadeInDownSecondPageTitle">美容會員优惠</h2>
  </div>

  <div id="secondPageText">
    <p id="zoomInSecondPage">
      一年會員优惠特价
      <br>
      每月只需$79（原价每年$1896)
      <br>
      每月可享受两个GM Collin Reborn Facial
      <br>
      和 50% off 所有零售产品！
    </p>
  </div>

  <div class="ui grid centered">

    <!-- First set of Images -->
    <div class="three column row">
      <!-- FadeIn Left -->
      <div id="fadeInLeftSecondPage" class="six wide column">
        <img id="leftImage" src="images/ad_photos/facial.jpg" alt="facial 1">
        <p id="beforeAndAfter">GM reborn facial</p>
      </div>

      <div class="two wide column"></div>

      <!-- FadeIn Right -->
      <div id="fadeInRightSecondPage" class="six wide column">
        <img id="rightImage" src="images/ad_photos/facial.jpg" alt="facial 2">
        <p id="beforeAndAfter">GM reborn facial</p>
      </div>
    </div>

  </div>

  <div id="pageTwoarrowdown">
    <a href="/#thirdPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
