<div id="sectionTwo">
  <h1>Section 2</h1>

  <h1 class="animated infinite bounce">Bouncing</h1>

  <div id="pageTwoarrowdown">
    <a href="/#thirdPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
