<div id="sectionThree">

  <div id="pageTitle">
    <h2>Page Title</h2>
  </div>

  <div id="pageThreearrowdown">
    <a href="/#fourthPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
