<div id="sectionThree">


    <div id="thirdPageTitle" >
      <h2 id="pageTitleThirdPage">唇和紋眉</h2>
    </div>

    <div id="thirdPageText">
      <p id="zoomInThirdPage">
        使用纯天然有机色料，将色素刷在皮肤表层，所以非常健康安全！像雾状一样的感觉而得此名，韩式雾眉效果非常自然，能保持1-2年之久，免除每天出门画眉毛之苦
      </p>
    </div>

    <div class="ui grid centered">

      <!-- First set of Images -->
      <div class="three column row">
        <!-- FadeIn Left -->
        <div id="fadeInLeftThirdPageRowOne" class="six wide column">
          <img id="leftImage" src="images/ad_photos/lip_tattoo_before.png" alt="lip tattoo before">
          <p id="beforeAndAfter">之前</p>
        </div>

        <div class="two wide column"></div>

        <!-- FadeIn Right -->
        <div id="fadeInRightThirdPageRowOne" class="six wide column">
          <img id="rightImage" src="images/ad_photos/lip_tattoo_after.png" alt="lip tattoo after">
          <p id="beforeAndAfter">之后</p>
        </div>
      </div>

      <!-- Second set of Images -->
      <div class="three column row">
        <!-- FadeIn Left -->
        <div id="fadeInLeftThirdPageRowTwo" class="six wide column">
          <img id="leftImage" src="images/ad_photos/eyebrow_embroidery2_before.png" alt="eyebrow embroidery before">
          <p id="beforeAndAfter">之前</p>
        </div>

        <div class="two wide column"></div>

        <!-- FadeIn Right -->
        <div id="fadeInRightThirdPageRowTwo" class="six wide column">
          <img id="rightImage" src="images/ad_photos/eyebrow_embroidery2_after.png" alt="eyebrow embroidery after">
          <p id="beforeAndAfter">之后</p>
        </div>
      </div>

      <!-- Third set of Images -->
      <div class="three column row">
        <!-- FadeIn Left -->
        <div id="fadeInLeftThirdPageRowThree" class="six wide column">
          <img id="leftImage" src="images/ad_photos/eyebrow_3d_before.png" alt="eyebrow 3D before">
          <p id="beforeAndAfter">之前</p>
        </div>

        <div class="two wide column"></div>

        <!-- FadeIn Right -->
        <div id="fadeInRightThirdPageRowThree" class="six wide column">
          <img id="rightImage" src="images/ad_photos/eyebrow_3d_after.png" alt="eyebrow 3D after">
          <p id="beforeAndAfter">之后</p>
        </div>
      </div>

    </div>

  <div id="pageThreearrowdown">
    <a href="/#fourthPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
