<div id="sectionThree">


    <div id="pageTitle" >
      <h2 id="pageTitleThirdPage">Four Image Title</h2>
    </div>

    <div id="pageText">
      <p id="zoomInThirdPage">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
    </div>

    <div class="ui grid centered">

      <!-- First set of Images -->
      <div class="three column row">
        <!-- FadeIn Left -->
        <div id="fadeInLeftThirdPageRowOne" class="six wide column">
          <img id="leftImage" src="images/pagetwo/image1.jpg" alt="image 1">
        </div>

        <div class="two wide column"></div>

        <!-- FadeIn Right -->
        <div id="fadeInRightThirdPageRowOne" class="six wide column">
          <img id="rightImage" src="images/pagetwo/image2.jpg" alt="image 2">

        </div>
      </div>

      <!-- Second set of Images -->
      <div class="three column row">
        <!-- FadeIn Left -->
        <div id="fadeInLeftThirdPageRowTwo" class="six wide column">
          <img id="leftImage" src="images/pagetwo/image1.jpg" alt="image 1">
        </div>

        <div class="two wide column"></div>

        <!-- FadeIn Right -->
        <div id="fadeInRightThirdPageRowTwo" class="six wide column">
          <img id="rightImage" src="images/pagetwo/image2.jpg" alt="image 2">

        </div>
      </div>

    </div>

  <div id="pageThreearrowdown">
    <a href="/#fourthPage"><img id="arrowdownImage" src="images/arrowdown.png" alt="arrow down"></a>
  </div>
</div>
